* {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

header {
  align-items: center;
  background-color: #D96459;
  display: flex;
  height: 140px;
  justify-content: space-between;
  width: 100%; }

#logos {
  display: flex;
  align-items: center;
  margin-left: 3%; }
  #logos li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 5px; }

#logos:hover {
  transform: scale(1.025); }

#logo {
  height: auto;
  width: 75px; }

#wordmark {
  height: auto;
  width: 200px; }

input {
  font-weight: lighter;
  height: 30px;
  width: 200px; }

#main-nav {
  align-items: center;
  display: flex;
  float: right;
  margin-right: 3%; }
  #main-nav li {
    display: inline-block;
    float: right;
    padding: 0px 20px; }
    #main-nav li a {
      color: white;
      font-size: 1.35rem;
      font-weight: normal;
      text-decoration: none;
      padding-bottom: 4px; }
    #main-nav li a:hover {
      border-bottom: 2px solid white; }

aside {
  background-color: #DEC6BD;
  display: inline-block;
  height: 700px;
  width: 20%; }

.side-nav {
  padding-top: 40px;
  margin-left: 20%; }
  .side-nav li {
    list-style-type: none; }
    .side-nav li a {
      color: black;
      font-size: 1.1rem;
      font-weight: lighter;
      line-height: 24px;
      text-decoration: none; }
    .side-nav li a:hover {
      text-decoration: underline; }

.main-li {
  color: white;
  font-weight: bold; }

.bookcase {
  background-color: #DEC6BD;
  display: inline-block;
  float: right;
  height: 700px;
  overflow: hidden;
  position: relative;
  width: 80%; }

.left-board {
  background-image: linear-gradient(to right, #B8967F, #946441);
  border-left: 20px solid #B8967F;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
  width: 60px; }

.top-board {
  background: #B8967F;
  height: 60px;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 30; }

.right-board {
  background-image: linear-gradient(to left, #B8967F, #946441);
  border-right: 20px solid #B8967F;
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  height: 100%;
  right: 0%;
  position: absolute;
  top: 0%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  width: 60px;
  z-index: 20; }

.bottom-board {
  background-image: linear-gradient(to top, #B8967F, #946441);
  border-bottom: 20px solid #B8967F;
  bottom: 0%;
  box-sizing: border-box;
  clip-path: polygon(5.3% 15%, 94.7% 15%, 100% 100%, 0% 100%);
  height: 60px;
  left: 0%;
  position: absolute;
  -webkit-clip-path: polygon(5.3% 15%, 94.7% 15%, 100% 100%, 0% 100%);
  width: 100%; }

.bookshelves {
  background-image: linear-gradient(#ab8468 32%, #946441 180px, #ab8468 205px, #B8967F 50px, #B8967F 100px);
  background-size: 20px 230px;
  height: 100%;
  left: 60px;
  position: absolute;
  top: 60px;
  width: 90%; }

.book {
  float: left;
  color: white;
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  transition: transform 0.4s ease;
  z-index: 10; }

.book-tilted {
  float: left;
  width: 74px; }

.book-tilted > .book {
  transform: translateY(-3px) translateX(15px) rotate(9deg); }

.book:hover {
  transform: scale(1.05);
  cursor: pointer; }

.book-green {
  background-image: linear-gradient(to left, #588C7E, #95B1A8, #588C7E); }

.book-yellow {
  background-image: linear-gradient(to left, #F2E394, #F4EBA9, #F2E394); }

.book-orange {
  background-image: linear-gradient(to left, #F2AE72, #F9CCA3, #F2AE72); }

.book-red {
  background-image: linear-gradient(to left, #D96459, #E99E8D, #D96459); }

.book-brown {
  background-image: linear-gradient(to left, #946441, #B8967F, #946441); }

.book-burgundy {
  background-image: linear-gradient(to left, #8C4646, #B1817B, #8C4646); }

.book-size-1 {
  height: 200px;
  width: 40px; }

.book-size-2 {
  height: 150px;
  width: 40px; }

.book h2 {
  color: white;
  font-size: 0.9rem;
  margin-top: 16px;
  margin-right: 18px;
  padding: 0;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-35px);
  width: 170px; }

.book-yellow h2, .book-orange h2 {
  color: black; }

.remodal {
  color: white;
  height: 500px;
  overflow: hidden;
  width: 1300px; }
  .remodal img {
    display: inline-block;
    float: left;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40%; }
  .remodal article {
    display: inline-block;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%; }
    .remodal article h1 {
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 1.25px;
      margin-bottom: 6px;
      text-align: left;
      text-transform: uppercase; }
    .remodal article h2 {
      font-size: 1.15rem;
      font-weight: lighter;
      margin-bottom: 20px;
      text-align: left; }
    .remodal article p {
      font-size: 0.9rem;
      font-weight: normal;
      text-align: left; }

.remodal-green {
  background-color: #588C7E; }

.remodal-brown {
  background-color: #B8967F; }

.remodal-yellow {
  background-color: #F2E394;
  color: black; }

.remodal-orange {
  background-color: #F2AE72; }

.remodal-red {
  background-color: #D96459; }

.remodal-burgundy {
  background-color: #8C4646; }

/*# sourceMappingURL=style.css.map */
