$dark-green: #588C7E;
$light-green: #95B1A8;
$dark-yellow: #F2E394;
$light-yellow: #F4EBA9;
$dark-orange: #F2AE72;
$light-orange: #F9CCA3;
$dark-red: #D96459;
$light-red: #E99E8D;
$dark-burgundy: #8C4646;
$light-burgundy: #B1817B;
$pink: #DEC6BD;
$light-brown: #B8967F;
$dark-brown: #946441;
$medium-brown: #ab8468;
